@import url('https://api.fontshare.com[]=satoshi@700,500,400&display=swap');
@import "tailwindcss";

@theme{
    --font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body{
        @apply bg-[#22333b] text-white;
    }
}