@import url('https://api.fontshare.com/v2/css?f[]=satoshi@500,900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=inter@400,500,600,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@500,600,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=switzer@400,500,600,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=space-mono@400,700&display=swap');
@import "tailwindcss";

@theme{
    --font-sans: "Satoshi", ui-sans-serif, system-ui, sans-serif;
    --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-clash: "Clash Grotesk", ui-sans-serif, system-ui, sans-serif;
    --font-switzer: "Switzer", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Space Mono", ui-monospace, monospace;
}

/* Other Options: #282A3A */
@layer base {
    body{
        @apply bg-[#2B2B2B] text-white font-mono;
    }
}