---
import Button from "../components/Button.tsx";
import "../styles/global.css";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jose's Portfolio</title>
  </head>
  <body>
	
    <main>
      <h1 class="">Jose's Portfolio</h1>
      <Button client:load />
    </main>
  </body>
</html>
